<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAawgKGklSoEgoD5leQSwmlNu_fs02dQ6g">
    </script>
    <script type="text/javascript">
      
function initialize() {
  var myLatlng = new google.maps.LatLng(<%= current_user.latitude %>,<%= current_user.longitude %>);
  var mapOptions = {
    zoom: 10,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  


<% current_user.nearbys.each do |x| %>

  var lat_long<%= x.name %> = new google.maps.LatLng(<%=x.latitude%>, <%=x.longitude%>);

  var contentString<%=x.name%> = "<%= x.name %>";


  var infowindow<%=x.name%> = new google.maps.InfoWindow({
      content: contentString<%=x.name%>
  });


    var marker<%=x.name%> = new google.maps.Marker({
      position: lat_long<%= x.name %>,
      map: map,
      title: '<%=x.name%>'
  });

    google.maps.event.addListener(marker<%=x.name%>, 'click', function() {
    infowindow<%=x.name%>.open(map,marker<%=x.name%>);
  });
<% end %>
}


google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  <div id="map-container">
<div id="map-canvas"></div>
  </div>

   <%  nearby_users = [] %>
  <% current_user.nearbys.each do |x| %>
  <p> <%= x.name %> </p>
    <% nearby_users << {lat: x.latitude, long: x.longitude} %>
    <p> <%= "#{nearby_users[0][:lat]},#{nearby_users[0][:long]}"  %> </p>
  <% end %>

  </body>
</html>